{{> de/partials/header }}

<main id="main" class="error">
    <div>
        <h2>Oh no …</h2>
        <p>Seemingly something went horribly wrong … or the page cannot be found.</p>
        <p>Please check the URL you visited, and/or try again some time later.</p>
        <a href="/en/">
            <div class="pill">Back to home page</div>
        </a>
        <div>
            <img src="/assets/img/plakat/udkpilz.svg" alt="you spin me right round, fungi, right round …">
        </div>
    </div>
</main>

{{> de/partials/footer }}
