{{> de/partials/header }}
<main id="main" class="error">             
     <div>
        <h2>Hmm… EN ERROR</h2>
        <p>Hier ist wohl leider etwas schiefgelaufen.<br/>Bitte versuchen Sie es später noch einmal.</p>
        <a href="/index.html"><div class="pill">Zur Startseite</div></a>
        <div><img src="/assets/img/plakat/udkpilz.svg"></div>
    </div>
</main>


{{> de/partials/footer }}