{{> en/partials/header activePageIndex=true }}

<main class="hours">

    <div>
        <h2>Admission Times</h2>

        <h3>Hardenbergstraße 33, 10623 Berlin</h3>
        <ul>
            <li>Fri 10am–12am</li>
            <li>Sat 10am–10pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Medienhaus – Grunewaldstraße 2–5, 10823 Berlin</h3>
        <ul>
            <li>Fri 03pm–10pm</li>
            <li>Sat 10am–10pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Lietzenburger Straße 45, 10777 Berlin</h3>
        <ul>
            <li>Fri 03pm–12am</li>
            <li>Sat 10am–10pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Bundesallee 1–12, 10719 Berlin</h3>
        <ul>
            <li>Fri 03pm–10pm</li>
            <li>Sat 10am–10pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Fasanenstraße 1b, 10623 Berlin</h3>
        <ul>
            <li>Fri 03pm–10pm</li>
            <li>Sat 10am–20pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Straße des 17. Juni 118, 10623 Berlin</h3>
        <ul>
            <li>Fri 03pm–10pm</li>
            <li>Sat 10am–10pm</li>
            <li class="closed">Sun closed</li>
        </ul>

        <h3>Konzertsaal der UdK Berlin – Hardenbergstraße / Ecke Fasanenstraße, 10623 Berlin</h3>
        <ul>
            <li>Fri 10am–12am</li>
            <li>Sat 10am–10pm</li>
            <li>Sun 10am–09pm</li>
        </ul>

        <h3>Hardenbergstraße 41, 10623 Berlin</h3>
        <ul>
            <li class="closed">Fri closed</li>
            <li>Sat 02pm–05pm</li>
            <li class="closed">Sun closed</li>
        </ul>

        <h3>Jazz-Institut Berlin – Einsteinufer 43, 10587 Berlin</h3>
        <ul>
            <li class="closed">Fri closed</li>
            <li>Sat 05pm–09:30pm</li>
            <li class="closed">Sun closed</li>
        </ul>

        <h3>Salzufer 14–15, 10587 Berlin</h3>
        <ul>
            <li class="closed">Fri closed</li>
            <li>Sat 12pm–09pm</li>
            <li>Sun 12pm–09pm</li>
        </ul>

        <br />
        <p><em>Subject to changes.</em></p>
    </div>

</main>

{{> en/partials/footer }}
