{{> en/partials/header activePageIndex=true }}

<main class="hours">

    <div>
        <h2>Opening Times</h2>

        <h3>Hardenbergstraße 33, 10623 Berlin</h3>
        <ul>
            <li>Fr 10am–12pm</li>
            <li>Sa 10am–10pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Medienhaus – Grunewaldstraße 2–5, 10823 Berlin</h3>
        <ul>
            <li>Fr 03pm–10pm</li>
            <li>Sa 10am–10pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Lietzenburger Straße 45, 10777 Berlin</h3>
        <ul>
            <li>Fr 03pm–12pm</li>
            <li>Sa 10am–10pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Bundesallee 1–12, 10719 Berlin</h3>
        <ul>
            <li>Fr 03pm–10pm</li>
            <li>Sa 10am–10pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Fasanenstraße 1b, 10623 Berlin</h3>
        <ul>
            <li>Fr 03pm–10pm</li>
            <li>Sa 10am–20pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Straße des 17. Juni 118, 10623 Berlin</h3>
        <ul>
            <li>Fr 03pm–10pm</li>
            <li>Sa 10am–10pm</li>
            <li class="closed">So closed</li>
        </ul>

        <h3>Konzertsaal der UdK Berlin–Hardenbergstraße / Ecke Fasanenstraße, 10623 Berlin</h3>
        <ul>
            <li>Fr 10am–12pm</li>
            <li>Sa 10am–10pm</li>
            <li>So 10am–09pm</li>
        </ul>

        <h3>Hardenbergstraße 41, 10623 Berlin</h3>
        <ul>
            <li class="closed">Fr closed</li>
            <li>Sa 02pm–05pm</li>
            <li class="closed">So closed</li>
        </ul>

        <h3>Jazz-Institut Berlin – Einsteinufer 43, 10587 Berlin</h3>
        <ul>
            <li class="closed">Fr closed</li>
            <li>Sa 05pm–09:30pm</li>
            <li class="closed">So closed</li>
        </ul>

        <br />
        <p><em>Subject to changes …</em></p>
    </div>

</main>

{{> en/partials/footer }}
