/** RESPONSIVE STYLES **/
@media only screen and (min-width: 1600px) {
  .singleproject .projectmain,
.singleproject .info {
    max-width: 900px;
  }
}
@media only screen and (max-width: 1500px) {
  main.start .choose ul li {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1400px) {
  .singleproject .projectmain,
.singleproject .info {
    width: 65%;
  }

  header .topline {
    background-color: white;
  }
}
@media only screen and (max-width: 1300px) {
  .singleproject .projectmain,
.singleproject .info {
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
  .singleproject .projectmain,
.singleproject .info {
    width: 75%;
  }
}
@media only screen and (max-width: 1100px) {
  main.start .choose ul li {
    font-size: 25px;
  }

  main.events .day .event h3 {
    width: 350px;
  }

  main.events .day .event .tags {
    padding-left: 30px;
  }

  main.events .day .event .tags {
    width: calc(100% - 500px);
  }
}
@media only screen and (max-width: 1000px) {
  .singleproject .projectmain,
.singleproject .info {
    width: 85%;
  }

  .singleproject .back {
    display: none;
  }

  .singleproject .projectclose {
    display: block;
    top: 72px;
    right: 26px;
    z-index: 400;
  }

  .singleproject h2.projecttitle {
    max-width: calc(100% - 40px);
  }
}
@media only screen and (max-width: 940px) {
  main.start .choose div.footer ul li {
    font-size: 12px;
    letter-spacing: -0.5px;
  }

  main.start .choose ul li {
    letter-spacing: -0.3px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 800px) {
  .singleproject .projectmain,
.singleproject .info {
    position: relative;
    width: 100%;
  }

  .singleproject .projectmain,
.singleproject .info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }

  main.start .choose ul li {
    font-weight: 400;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  main.start div.greypill {
    font-weight: 400;
    margin-top: 15px;
  }

  main.start .choose,
main.start .plakat {
    width: 100%;
    position: relative;
  }

  main.start .choose div.footer {
    width: 100%;
    position: relative;
    margin-top: 35px;
  }

  main.events .day .event {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  main.events .day .event .time,
main.events .day .event h3,
main.events .day .event .tags {
    width: 100%;
    padding: 0;
  }

  main.events .day .event .tags {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  div.footer {
    display: none;
  }

  main.start div.footer.onlymobile {
    display: block;
  }

  main.start .plakat {
    height: calc(100vh - 310px);
  }
}
@media only screen and (max-width: 650px) {
  main.start .plakat {
    height: calc(100vh - 365px);
  }
}
@media only screen and (max-width: 750px) {
  .menu {
    right: -500px;
  }
}
@media only screen and (max-width: 550px) {
  main.programm .projectswrap .projecttile {
    width: 100%;
  }

  main.programm #filterline ul li.back {
    width: 100%;
  }

  main.programm #filterline ul li:not(.back),
main.programm #filterline ul li.back,
main.programm #filterline .selected > div {
    margin-top: 5px;
    margin-bottom: 6px;
  }

  .singleproject .eventinfo .time {
    width: 100%;
  }

  .singleproject .eventinfo .infos {
    width: 100%;
    margin-top: 15px;
  }

  .container {
    width: 100%;
    border: 0px solid red;
    overflow-x: scroll;
    float: left;
    height: 45px;
    margin-top: 18px;
    margin-bottom: 0;
  }

  .address-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-right: 20px;
  }
  .address-lists .location-name {
    white-space: nowrap;
  }

  #map {
    height: calc(100vh - 133px);
  }

  main.programm #filterline {
    margin-top: 65px;
  }

  .singleproject h2.projecttitle,
.singleproject .projectmain h3 {
    font-size: 28px;
  }

  .singleproject h2.projecttitle {
    margin-bottom: 10px;
  }

  .singleproject .projectclose {
    right: 20px;
  }

  .singleproject .projectmain blockquote,
.singleproject .projectmain div.code {
    padding: 10px;
  }

  header .topline,
main.programm #filterline,
main.programm .projectswrap,
main.start .choose,
main.start div.footer.onlymobile,
.menu,
.singleproject .projectmain,
.singleproject .info,
main.events .day h2,
main.events .day .event {
    padding-left: 10px;
    padding-right: 10px;
  }

  .singleproject .projectclose {
    right: 10px;
  }

  .singleproject .projectmain {
    padding-top: 13px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main.start .choose ul li {
    font-size: 20px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu {
    width: 100%;
    background-size: 30%;
    background-position: 80% bottom;
  }

  .hamburger {
    padding: 0;
  }

  .hamburger-box {
    width: 25px;
    height: 26px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    height: 2px;
    width: 25px;
  }

  .hamburger-inner::before {
    top: -8px;
  }

  .hamburger-inner::after {
    bottom: -8px;
  }

  main.start .plakat {
    height: calc(100vh - 345px);
  }
}
@media only screen and (max-width: 390px) {
  main.start .plakat {
    height: calc(100vh - 390px);
  }
}
@media only screen and (max-width: 360px) {
  header .topline h1 {
    font-size: 17px;
    letter-spacing: -0.3px;
  }
  header .topline h1 a span {
    display: none !important;
  }
}
@media only screen and (max-width: 340px) {
  main.programm .projectswrap {
    grid-template-columns: none;
  }
}
@media only screen and (max-height: 750px) {
  .menu {
    background-size: 30%;
    background-position: 80% bottom;
  }
}
