$textColor: black; 
$textColorLight: #858585;
$grey: #C4C4C4;
$green: #00C770;
$purple: #8C78FF;
$red: #E4003A;
$textSelectionColor: #dcf3ff;

@font-face {
	font-family: 'BauPro';
	src: url('../webfont/BauPro.woff2') format('woff2'),
		url('../webfont/BauPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BauPro';
	src: url('../webfont/BauPro-Medium.woff2') format('woff2'),
		url('../webfont/BauPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

::-moz-selection { background: $textSelectionColor; color: $textColor; }
::selection { background: $textSelectionColor; color: $textColor; }

html {
	height: 100%;
}

body{
	color: $textColor;
	width: 100%;
	/*min-height: 100%;*/
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'BauPro';
	font-size: 20px;
	line-height: 24px;
}

*{
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

a {
   outline: 0;
}

/** HEADER **/
header{
	.topline{
		width: 100%;
		height: 55px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 1px solid $grey;
		background-color: white;
		position: fixed;
		top: 0;
		left: 0px;
		z-index: 900;
		h1{
			font-size: 20px;
			font-weight: 500;
			letter-spacing: -0.01em;
			a{
				color: inherit;
				text-decoration: inherit;
			}
		}
	}
}

/** PREVIEW STYLES**/
/*
.singleproject > main {
	border-color: var(--color-lo);
	border-radius: unset;
	border-style: solid;
	border-width: calc(var(--margin) * 0.2);
	padding: calc(var(--margin) * 1);
}
*/

@mixin pill {
	background: black;
	height: 26px;
	border-radius: 60px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 26px;
	margin-right: 4px;
	margin-bottom: 6px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

/* GENERAL STYLES
   ============================= */

h1{
	font-family: 'BauPro';
	font-weight: 500;
	font-size: 48px;
}

h2{
	font-family: 'BauPro';
	font-weight: 500;
	font-size: 34px;
}

h3{
	font-family: 'BauPro';
	font-weight: 500;
	font-size: 20px;
}

p{
	font-family: 'BauPro';
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	a{
		color: inherit;
	}
}

strong,b{
	font-weight: 500;
}

.tagbubble span{
	display: inline-block;
	@include pill();
	a{
		color: inherit;
		text-decoration: inherit;
	}
}

.flexwrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

main{
	margin-top: 55px;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}
main.menuopen{
	opacity: .2;
}

div.overlay{
	background-color: black;
	opacity: .0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	pointer-events: none;
	&.menuopen{
		opacity: .2;
		-webkit-transition: opacity .4s;
		-o-transition: opacity .4s;
		transition: opacity .4s;
	}
}


/* BURGER MENU
   ============================= */
   
.hamburger {
	display: inline-block;
	cursor: pointer;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, -webkit-filter;
	-o-transition-property: opacity, filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-duration: 0.15s;
		 -o-transition-duration: 0.15s;
			transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
		 -o-transition-timing-function: linear;
			transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; }
	.hamburger:hover {
	opacity: 1; }
	.hamburger.is-active:hover {
	opacity: 1; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000; 
}
.hamburger-box {
	width: 30px;
	height: 24px;
	display: inline-block;
	position: relative; 
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 30px;
	height: 3px;
	background-color: #000;
	border-radius: 0px;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
		 -o-transition-duration: 0.15s;
			transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
		 -o-transition-timing-function: ease;
			transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px;
}
.hamburger--squeeze .hamburger-inner {
	-webkit-transition-duration: 0.075s;
		 -o-transition-duration: 0.075s;
			transition-duration: 0.075s;
	-webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		 -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
			transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--squeeze .hamburger-inner::before {
	-webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
	-o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
	transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
}
.hamburger--squeeze .hamburger-inner::after {
	-webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	-o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--squeeze.is-active .hamburger-inner {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-transition-delay: 0.12s;
		 -o-transition-delay: 0.12s;
			transition-delay: 0.12s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		 -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	-webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
	-o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
}
.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
	-webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.menu{
	position: fixed;
	right: -50vw;
	height: 100vh;
	width: 25vw;
	min-width: 350px;
	z-index: 800;
	background-color: white;
	background-image: url(../img/pilzeduo.svg);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: bottom center;
	top: 0;
	padding: 20px;
	padding-top: 55px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	ul{
		padding: 0!important;
		margin: 0;
		list-style: none;
		li{
			line-height: 40px;
			list-style: none;
			a{
				color: #858585;
				text-decoration: none;
				font-weight: 500;
			}
			&.current a{
				color: $textColor;
			}
		}
	}
	nav.main{
		margin-top: 10px;
	}
	nav.sub {
		margin-top: 40px;
		ul li{
			a{
				font-weight: 400;
			}
		}
	}
	.lang{
		margin-top: 40px;
		> div{
			font-weight: 500;
			color: #858585;
		}
		.switch{
			height: 31px;
			width: 85px;
			border: 1px solid black;
			border-radius: 60px;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			position: relative;
			margin-top: 15px;
			a{
				color: inherit;
			}
			span{
				font-weight: 400;
				line-height: 31px;
				font-size: 14px;
				text-align: center;
				width: 45px;
				display: inline-block;
				position: absolute;
				&.active{
					background: black;
					position: absolute;
					right: 0;
					height: 29px;
					border-radius: 60px;
					color: white;
					
					
				}
			}
		}
	}
	&.slidein{
		right: 0;
	}
}



/* STARTPAGE STYLES
   ============================= */
   
body.start{
	.choose{
		width: 50%;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		padding: 20px;
		padding-top: 20px;
		.rundganginfo{
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 20px;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			margin-left: -6px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			li{
				font-weight: 500;
				font-size: 41px;
				background-color: black;
				border-radius: 90px;
				padding: 15px;
				padding-left: 20px;
				padding-right: 20px;
				margin-right: 4px;
				margin-bottom: 10px;
				a{
					color: white;
					text-decoration: inherit;
				}
			}
		}
	}
	div.footer{
		position: absolute;
		bottom: 10px;
		width: 50%;
		ul{
			li{
				background-color: transparent;
				font-size: 14px;
				padding: 0px;
				padding-right: 12px;
				margin-bottom: 2px;
				a{
					color: $grey;
					-webkit-transition: color .3s;
					-o-transition: color .3s;
					transition: color .3s;
					text-decoration: none;
					&:hover{
						color: $textColor;
					}
				}
			}
		}
	}
	div.footer.onlymobile{
		position: relative;
		bottom: unset;
		width: 100%;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		padding: 20px;
		display: none;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
		}
	}
	.plakat{
		width: 50%;
		height: calc(100vh - 55px);
	}
	div.greypill{
		background-color: $grey;
		font-size: 14px;
		padding: 0px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 90px;
		display: inline-block;
		font-weight: 500;
		margin-top: 30px;
		margin-right: 5px;
		margin-left: -5px;
		height: 26px;
		line-height: 26px;
		a{
			color: $textColor;
			text-decoration: inherit;
		}
	}
	div.rundang.greypill{
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}



/* KARTENANSICHT, ORTE, LEAFLET
   ============================= */

.address-lists {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	gap: 9px 4px;
}

.container {
	margin: 10px auto;
	margin-top: 70px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}

.address-lists .address, .tags li {
	/* display: inline-flex; */
	-webkit-transition: 100ms linear;
	-o-transition: 100ms linear;
	transition: 100ms linear;
	display: inline-block;
	@include pill();
	margin-bottom: 0;
	margin-right: 0;
	font-weight: 500;
	font-family: 'BauPro';
}

.address-lists .address{
	border: 1px solid black;
	line-height: 24px;
}

.address:hover, .address.active {
	display: inline-block;
	border: 1px solid black;
	background-color: white;
	color: black;
	line-height: 24px;
}

.location-info {
	display: none;
}

.tags {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	gap: 10px;
}

.leaflet-popup-content-wrapper {
	-webkit-box-shadow: 0 3px 14px rgb(0 0 0 / 20%);
			box-shadow: 0 3px 14px rgb(0 0 0 / 20%);
	border: 1px solid #C4C4C4;
}

.leaflet-popup-content {
	margin: 10px !important;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			font-size: 16px;
			line-height: 20px;
			&.closed{
				color: $grey;
			}
		}
	}
}

.leaflet-container a.leaflet-popup-close-button {
	top: 10px !important;
	right: 10px !important;
	font-size: 20px !important;
	color: $textColor !important;
}

.leaflet-popup-content h3 {
	margin-bottom: 0 !important;
	font-size: 16px;
	margin-top: 5px;
}

.leaflet-popup-content p {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 16px;
	line-height: 20px;
	color: $grey;
}

.leaflet-popup-tip-container {
	display: none;
}

.leaflet-control{
	z-index: 300!important;
}

.leaflet-top, .leaflet-bottom{
	z-index: 400!important;
}

.leaflet-popup{
	margin-bottom: 10px!important;
}
.leaflet-popup-content ul.tags{
	margin-top: 10px;
	margin-left: -2px;
}
.leaflet-popup-content ul.tags li{
	line-height: 26px;
	font-size: 14px;
}
.leaflet-popup-content ul.tags li a{
	color: white;
	text-decoration: none;
	line-height: auto;
}

.leaflet-tile-pane {
	filter: grayscale(1);
}

/* .leaflet-popup.leaflet-zoom-animated {
	left: 25px !important;
} */

#map {
	border-top: 1px solid #C4C4C4;
	width: 100%;
	height: calc(100vh - 152px);
}


/* STYLES FÜR PROJEKTÜBERSICHT / PROGRAMM
   ============================= */
body.programm{
	#filterline{
		position: relative;
		margin-top: 70px;
		padding-left: 20px;
		padding-right: 20px;
		ul{
			list-style: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			margin: 0;
			padding: 0;
			li:not(.back){
				@include pill();
				background: black;
				color: white;
			}
			li a{
				color: white;
				text-decoration: none;
			}
			li.back{
				font-weight: 500;
				font-size: 14px;
				color: $textColorLight;
				margin-right: 6px;
				span{
					width: 26px;
					height: 26px;
					display: inline-block;
					background-image: url('../img/back.svg');
					background-repeat: no-repeat;
					background-size: contain;
					vertical-align: -7px;
					margin-right: 5px;
					opacity: .5;
					-webkit-transition: opacity .3s;
					-o-transition: opacity .3s;
					transition: opacity .3s;
					cursor: pointer;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
		.level {
			display: none;
		}
		.level.active {
			display: block;
		}
		.selected{
			> div{
				@include pill();
				display: inline-block;
				border: 1px solid black;
				background-color: white;
				color: $textColor;
				line-height: 24px;
				> span{
					font-size: 24px;
					vertical-align: -3px;
					margin-left: 5px;
				}
			}
		}
		.second {
			ul {
				display: none;
				li.hide {
					display: none;
				}
			}
			ul.active {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
		}
		
	}
	
	hr{
		border: none;
		border-bottom: 1px solid $grey;
		outline: 0;
	}
	
	.projectswrap{
		margin-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 20px;
		.projecttile{
			position: relative;
			h2{
				font-size: 16px;
				font-weight: 500;
				margin-top: 5px;
			}
			.info{
				font-size: 16px;
				margin-bottom: 30px;
				line-height: 1.2;
				margin-top: 7px;
			}
			.hoverinfo{
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.80);
				font-size: 16px;
				line-height: 19px;
				color: white;
				padding: 10px;
				-webkit-box-sizing: border-box;
						box-sizing: border-box;
				pointer-events: none;
				-webkit-transition: opacity .3s;
				-o-transition: opacity .3s;
				transition: opacity .3s;
				height: 100%;
				width: 100%;
				overflow: hidden;
				p{
					font-size: 16px;
					line-height: 19px;
					margin: 0;
					display: -webkit-box;
					max-width: 100%;
					-webkit-line-clamp: 6;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
			a:hover + .hoverinfo{
				opacity: 1;
			}
			.image{
				background-color: #c7c7c7;
				position: relative;
				line-height: 0;
				display: flex;
				max-height: 80vh;
				img{
					width: 100%;
					height: auto;
					opacity: .9;
					object-position: center;
					object-fit: cover;
				}
				.flags{
					position: absolute;
					right: 3px;
					top: 8px;
				}
				.online{
					@include pill();
					display: inline-block;
					background-color: $green;
				}
				.live, .livein{
					@include pill();
					display: inline-block;
					background-color: $red;
				}
				.live{
					padding-left: 22px;
					position: relative;
					span{
						background-color: white;
						width: 8px;
						height: 8px;
						border-radius: 20px;
						position: absolute;
						display: inline-block;
						top: 9px;
						left: 10px;
						-webkit-animation-duration: .8s;
								animation-duration: .8s;
						-webkit-animation-iteration-count: infinite;
								animation-iteration-count: infinite;
						-webkit-animation-name: blink;
								animation-name: blink;
						animation-direction: alternate-reverse;
						-webkit-animation-timing-function: linear;
								animation-timing-function: linear;
					}
				}
				.livein{
					span{
						-webkit-animation:1s seconds infinite step-end;
								animation:1s seconds infinite step-end;
					}
				}
				@-webkit-keyframes blink {
					from {
						opacity: 1;
					}
					to {
						opacity: .2;
					}
				}
				@keyframes blink {
					from {
						opacity: 1;
					}
					to {
						opacity: .2;
					}
				}
				@-webkit-keyframes seconds {
					0% {
						opacity: 1;
					}
					50% {
						opacity: 0;
					}
				}
				@keyframes seconds {
					0% {
						opacity: 1;
					}
					50% {
						opacity: 0;
					}
				}
			}
			.image:hover .hoverinfo{
				opacity: 1;
			}
			.image.noimage{
				width: 100%;
				aspect-ratio: 3/2;
				background-image: url(../img/noimage.svg);
				background-size: cover;
				background-color: white;
			}
			&.flexfix{
				height: 1px;
			}
			a{
				color: inherit;
				text-decoration: inherit;
			}
			a.blocklink{
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 300;
				position: absolute;
			}
		}
	}
	
}



/* STYLES FÜR SINGLE PROJECT
   ============================= */

.singleproject{
	h2.projecttitle{
		font-size: 34px;
		font-weight: 500;
		margin-bottom: 20px;
		line-height: 35px;
		letter-spacing: -0.025em;
	}
	.back{
		width: 26px;
		height: 26px;
		position: fixed;
		left: 20px;
		top: 70px;
		background-image: url('../img/back.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}
	.projectclose{
		width: 26px;
		height: 26px;
		position: fixed;
		right: 28px;
		top: 70px;
		background-image: url('../img/close.svg');
		background-repeat: no-repeat;
		background-size: contain;
		display: none;
	}
	.tagbubble{
		margin-left: -2px;
	}
	.students.tagbubble{
		margin-bottom: 40px;
	}
	.students.tagbubble + p{
		margin-bottom: 7px;
	}
	.projectmain{
		width: 50%;
		position: relative;
		padding-top: 45px;
		padding-bottom: 60px;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		margin: 0 auto;
		.thumb img{
			margin-top: 0;
		}
		.image{
			margin-top: 40px;
			margin-bottom: 40px;
			.sub{
				text-align: right;
				color: $textColorLight;
				font-size: 16px;
			}
		}
		img{
			width: 100%;
			height: auto;
		}
		h3{
			font-size: 34px;
			font-weight: 500;
			margin-bottom: 20px;
			margin-top: 60px;
			line-height: 35px;
			letter-spacing: -0.025em;
		}
		.thumb + h2{
			margin-top: 10px;
		}
		blockquote{
			margin: 0;
			margin-top: 1em;
			margin-bottom: 1em;
			position: relative;
			background-color: rgba(0,0,0,0.05);
			border-left: 4px solid rgba(0,0,0,0.05);
			padding: 25px;
			/*
			&:before {
				content: open-quote;
			}
			&:after {
				content: close-quote;
			}
			*/
		}
		div.code{
			background-color: rgba(0,0,0,0.05);
			border-left: 4px solid rgba(0,0,0,0.05);
			color:  $textColor;
			margin-top: 40px;
			margin-bottom: 40px;
			padding: 25px;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			font-size: 14px;
			line-height: 20px;
			font-family: "Lucida Console", Monaco, monospace;
		}
		.bbb{
			margin-top: 40px;
			margin-bottom: 40px;
			> div{
				font-weight: 500;
				font-size: 14px;
			}
			span.bbblink{
				display: inline-block;
				margin-top: 10px;
				background: $red;
				height: 26px;
				border-radius: 60px;
				color: white;
				font-size: 14px;
				font-weight: 500;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 26px;
				margin-right: 10px;
				margin-bottom: 6px;
				margin-left: 7px;
				cursor: pointer;
			}
			span.date{
				font-size: 14px;
				font-weight: 500;
				color: $grey;
				white-space: nowrap;
			}
			a{
				text-decoration: none;
				color: inherit;
			}
		}
		div.video{
			margin-top: 40px;
			margin-bottom: 40px;
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		div.audio{
			-webkit-box-shadow: none;
					box-shadow: none;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			.slider .gap-progress .pin{
				background-color: black;
			}
			.volume__button svg path,
			.play-pause-btn svg path{
				fill: black!important;
			}
			.slider .gap-progress{
				background-color: #63bdff;
			}
		}
	}
	.info{
		width: 50%;
		position: relative;
		padding-bottom: 100px;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		margin: 0 auto;
		div.label{
			margin-bottom: 8px;
			margin-top: 20px;
		}
	}
	ul{
		list-style-position: outside;
		list-style-type: '– \00a0';
		padding: 0;
		padding-left: 22px;
		margin-bottom: 0;
	}
	
	ol{
		list-style-position: outside;
		padding: 0;
		padding-left: 25px;
	}
	.eventinfo{
		background-color: rgba(0, 0, 0, 0.05);
		padding: 15px;
		font-weight: 500;
		.day{
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		.flexbox{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		}
		.time{
			font-size: 15px;
			width: 180px;
		}
		.infos{
			width: calc(100% - 180px);
			font-size: 16px;
			line-height: 19px;
			padding-bottom: 0;
		}
		.tags{
			margin-left: -2px;
			ul{
				padding-left: 0;
				li a{
					color: inherit;
					text-decoration: none;
				}
				li{
					margin-bottom: 8px;
				}
			}
			.stream, .conference{
				background-color: $red;
			}
		}
	}
}


/* STYLES FÜR EVENTS / EINZELVERANSTALTUNGEN
   ============================= */
body.events{
	.eventswrap{
		margin-top: 100px;
	}
	.day{
		margin-top: 50px;
		h2{
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 25px;
			padding-left: 20px;
		}
		.event{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: start;
				-ms-flex-pack: start;
					justify-content: flex-start;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			padding-right: 20px;
			padding-left: 20px;
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			padding-top: 7px;
			padding-bottom: 7px;
			.time{
				width: 150px;
				-webkit-font-feature-settings: "tnum" 1;
						font-feature-settings: "tnum" 1;
				font-size: 15px;
				font-weight: 500;
			}
			h3{
				width: 550px;
				-webkit-box-sizing: border-box;
						box-sizing: border-box;
				padding-left: 25px;
				font-size: 16px;
				a{
					color: inherit;
					text-decoration: none;
				}
			}
			.tags{
				padding-left: 80px;
				-webkit-box-sizing: border-box;
						box-sizing: border-box;
				width: calc(100% - 700px);
				ul{
					padding: 0;
					margin: 0;
				}
				ul li{
					margin-right: 2px;
					margin-bottom: 6px;
					font-weight: 500;
					a{
						text-decoration: none;
						color: white;
					}
				}
				ul li.online{
					background-color: $green;
				}
				ul li.bbb{
					background-color: $red;
				}
			}
			&:hover{
				background-color: #F1F1F1;
			}
		}
	}
}



/* STYLES FÜR IMPRESSUM, DATENSCHUTZ, VIEL TEXT
   ============================= */
.smalltext{
	max-width: 780px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 20px;
}

.basictext, main.hours > div{
	max-width: 740px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	h2{
		margin-bottom: 50px;
	}
	p{
		margin: 0;
		margin-bottom: 20px;
	}
}

main.hours > div{
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		margin-top: 10px;
		margin-bottom: 10px;
		li.closed{
			color: $grey;
		}
	}
	h3{
		margin-top: 30px;
	}
}

/* STYLES FOR STARTPAGE PLAKAT
   ============================= */
body.start .plakat{
	background-image: url('../img/plakat/strasse.svg'), url('../img/plakat/udkpilz.svg'), url('../img/plakat/hausline.svg'), url('../img/plakat/kleinepilze.svg'), url('../img/plakat/dotsbg.png');
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: bottom left, bottom center, bottom left, bottom center, center center;
	background-size: contain, contain, contain, contain, cover;
}


@-moz-document url-prefix() {
	body.programm #filterline ul li:not(.back),
	body.programm .projectswrap .projecttile .image .online,
	.tagbubble span,
	body.start div.greypill,
	body.start .choose div.footer ul li,
	.singleproject .projectmain .bbb span.bbblink{
		line-height: 28px;
	}
	.tags li, .address-lists .address{
		line-height: 26px;
	}
	body.start .choose ul li{
		padding-top: 17px;
	}
}

@media not all and (-webkit-min-device-pixel-ratio:0), not all and (-o-min-device-pixel-ratio:0/1), not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
	header .topline{
		border-top: 1px solid #C4C4C4;
	}
}}