<div class="video">
    <iframe
        src="https://stream.udk-berlin.de/video-playlists/embed/{{ content }}"
        frameBorder="0"
        sandbox="allow-same-origin allow-scripts"
        allowFullScreen="allowfullscreen"
        width="560"
        height="315"
    ></iframe>
</div>