{{> de/partials/header }}

<main id="main" class="error">
    <div>
        <h2>Ohweh …</h2>
        <p>Hier ist wohl leider etwas schiefgelaufen … oder die Seite kann nicht gefunden werden.</p>
        <p>Bitte prüfen Sie Ihre URL und/oder versuchen Sie es später noch einmal.</p>
        <a href="/">
            <div class="pill">Zurück zur Startseite</div>
        </a>
        <div>
            <img src="/assets/img/plakat/udkpilz.svg" alt="you spin me right round, fungi, right round …">
        </div>
    </div>
</main>

{{> de/partials/footer }}
