{{> de/partials/header activePageIndex=true }}

<main class="hours">

    <div>
        <h2>Öffnungszeiten</h2>

        <h3>Hardenbergstraße 33, 10623 Berlin</h3>
        <ul>
            <li>Fr 10–24 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Medienhaus – Grunewaldstraße 2–5, 10823 Berlin</h3>
        <ul>
            <li>Fr 15–22 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Lietzenburger Straße 45, 10777 Berlin</h3>
        <ul>
            <li>Fr 15–24 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Bundesallee 1–12, 10719 Berlin</h3>
        <ul>
            <li>Fr 15–22 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Fasanenstraße 1b, 10623 Berlin</h3>
        <ul>
            <li>Fr 15–22 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Straße des 17. Juni 118, 10623 Berlin</h3>
        <ul>
            <li>Fr 15–22 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li class="closed">So geschlossen</li>
        </ul>

        <h3>Konzertsaal der UdK Berlin – Hardenbergstraße / Ecke Fasanenstraße, 10623 Berlin</h3>
        <ul>
            <li>Fr 10–24 Uhr</li>
            <li>Sa 10–22 Uhr</li>
            <li>So 10–21 Uhr</li>
        </ul>

        <h3>Hardenbergstraße 41, 10623 Berlin</h3>
        <ul>
            <li class="closed">Fr geschlossen</li>
            <li>Sa 14–17 Uhr</li>
            <li class="closed">So geschlossen</li>
        </ul>

        <h3>Jazz-Institut Berlin – Einsteinufer 43, 10587 Berlin</h3>
        <ul>
            <li class="closed">Fr geschlossen</li>
            <li>Sa 17–21:30 Uhr</li>
            <li class="closed">So geschlossen</li>
        </ul>

        <br />
        <p><em>Änderungen vorbehalten …</em></p>
    </div>

</main>

{{> de/partials/footer }}
