{{> de/partials/header activePageIndex=true }}

<main class="start">

    <div class="flexwrap">
        <div class="choose">
            <div class="rundganginfo">
                Universität der Künste Berlin<br/>
                29. – 31. Oktober 2021
            </div>
            <ul>
                <li><a href="/programm">Programm</a></li>
                <li><a href="/orte">Orte</a></li>
                <li><a href="/zeitplan">Zeitplan Einzelveranstaltungen</a></li>
                <li><a href="/beratungsangebote">Beratungsangebote</a></li>
            </ul>
            <div class="greypill"><a href="/oeffnungszeiten">Öffnungszeiten</a></div>
            <div class="covid greypill"><a href="https://www.udk-berlin.de/universitaet/marketing-zentrale-veranstaltungen/zentrale-veranstaltungen/rundgang-tage-der-offenen-tuer-der-udk-berlin/besondere-regelungen-fuer-den-rundgang/" target="_blank">Sicherheits- & Hygienemaßnahmen</a></div>
            <div class="footer">
                <ul>
                    <li><a href="https://www.udk-berlin.de/schnellzugriff/impressum/" target="_blank">Impressum</a></li>
                    <li><a href="https://www.udk-berlin.de/schnellzugriff/datenschutz/" target="_blank">Datenschutz</a></li>
                    <li><a href="https://www.udk-berlin.de/universitaet/marketing-zentrale-veranstaltungen/zentrale-veranstaltungen/rundgang-tage-der-offenen-tuer-der-udk-berlin/kernteam-rundgang/" target="_blank">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <div class="plakat">
            <div class="rundang greypill"><a href="https://www.udk-berlin.de/universitaet/marketing-zentrale-veranstaltungen/zentrale-veranstaltungen/rundgang-tage-der-offenen-tuer-der-udk-berlin/design-des-rundgangs-2021/" target="_blank">Infos zum Rundgang Design</a></div>
        </div>
    </div>

</main>

{{> de/partials/footer }}
