{{> de/partials/header activePageLocations=true pageTitle="Orte" }}

<!-- @TODO add link with filter function to program -->
<main class="locations" id="main">
    <div class="container">
            <div class="address-lists">
                <!-- <div class="address" data-lat="52.50893832945276" data-lng="13.328045756372312" id="hardenbergstrabe-33"> -->
                <div class="address" data-lat="52.509063" data-lng="13.326793" id="hardenbergstrabe-33">
                    <div class="location-name">Hardenbergstraße 33</div>
                    <div class="location-info">
                        <p>Hardenbergstraße 33, 10623 Berlin</p>
                        <ul>
                            <li>Fr 10–24 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.51035490505003" data-lng="13.33019394102799" id="fasanenstraße-88">
                    <div class="location-name">Universitätsbibliothek im Volkswagen-Haus</div>
                    <div class="location-info">
                        <p>Universitätsbibliothek im Volkswagen-Haus, Fasanenstraße 88, 10624 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.513904723230915" data-lng="13.329303512192054" id="strasse-17-juni">
                    <div class="location-name">Straße des 17. Juni 118</div>
                    <div class="location-info">
                        <p>Straße des 17. Juni 118,10623 Berlin</p>
                        <ul>
                            <li>Fr 15–22 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li class="closed">So geschlossen</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.49082496403345" data-lng="13.3595672852078" id="grunewaldstrasse-2-5">
                    <div class="location-name">Grunewaldstraße 2-5</div>
                    <div class="location-info">
                        <p>Grunewaldstraße 2-5, 10823 Berlin</p>
                        <ul>
                            <li>Fr 15–22 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.50001283127866" data-lng="13.332853627535915" id="lietzenburger-strasse-45">
                    <div class="location-name">Lietzenburger Straße 45</div>
                    <div class="location-info">
                        <p>Lietzenburger Straße 45, 10789 Berlin</p>
                        <ul>
                            <li>Fr 15–24 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.52472611550576" data-lng="13.303810927536668" id="mierendorffstraße-30">
                    <div class="location-name">Mierendorffstraße 30</div>
                    <div class="location-info">
                        <p>Mierendorffstraße 30, 10589 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.508846909728646" data-lng="13.328002841028002" id="konzertsaal">
                    <div class="location-name">Konzertsaal der UdK Berlin</div>
                    <div class="location-info">
                        <p>Konzertsaal der UdK Berlin, Hardenbergstraße/Ecke Fasanenstraße, 10623 Berlin</p>
                        <ul>
                            <li>Fr 10–24 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.49978324397309" data-lng="13.29472164102763" id="karlsruher-strasse-7a">
                    <div class="location-name">Karlsruher Straße 7a</div>
                    <div class="location-info">
                        <p>Karlsruher Straße 7a, 10711 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.51136993151621" data-lng="13.32335888335587" id="hardenbergstrasse-41">
                    <div class="location-name">Hardenbergstraße 41</div>
                    <div class="location-info">
                        <p>Hardenbergstraße 41, 10623 Berlin</p>
                        <ul>
                            <li class="closed">Fr geschlossen</li>
                            <li>Sa 14–17 Uhr</li>
                            <li class="closed">So geschlossen</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.49884512443705" data-lng="13.32995634288022" id="bundesallee-1-12">
                    <div class="location-name">Bundesallee 1-12</div>
                    <div class="location-info">
                        <p>Bundesallee 1-12, 10719 Berlin</p>
                        <ul>
                            <li>Fr 15–22 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.50919098886368" data-lng="13.32846072753614" id="fasanenstrasse 1b">
                    <div class="location-name">Fasanenstraße 1b</div>
                    <div class="location-info">
                        <p>Fasanenstraße 1b, 10623 Berlin</p>
                        <ul>
                            <li>Fr 15–22 Uhr</li>
                            <li>Sa 10–22 Uhr</li>
                            <li>So 10–21 Uhr</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.51709564151452" data-lng="13.323078790766152" id="jazz-institut">
                    <div class="location-name">Jazz-Institut Berlin</div>
                    <div class="location-info">
                        <p>Jazz-Institut Berlin, Einsteinufer 43-53, 10587 Berlin</p>
                        <ul>
                            <li class="closed">Fr geschlossen</li>
                            <li>Sa 17–21:30 Uhr</li>
                            <li class="closed">So geschlossen</li>
                        </ul>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.51732414757127" data-lng="13.322746196847742" id="designstransfer">
                    <div class="location-name">designstransfer</div>
                    <div class="location-info">
                        <p>designstransfer, Einsteinufer 43-53, 10587 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.517271917720215" data-lng="13.322113195519155" id="einsteinufer-43-53">
                    <div class="location-name">Einsteinufer 43-53</div>
                    <div class="location-info">
                        <p>Einsteinufer 43-53, 10587 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.51009829740333" data-lng="13.329050794009817" id="unit">
                    <div class="location-name">UNI.T</div>
                    <div class="location-info">
                        <p>UNI.T, Fasanenstraße 1b, 10623 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.551912998961505" data-lng="13.374770994996302" id="hzt-berlin">
                    <div class="location-name">HZT Berlin</div>
                    <div class="location-info">
                        <p>HZT Berlin, Uferstraße 23, 13357 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programm">Programm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.496642889026305" data-lng="13.334328574756974" id="grainauer-strasse-12">
                    <div class="location-name">Grainauer Straße 12</div>
                    <div class="location-info">
                        <p>Grainauer Straße 12, 10777 Berlin</p>
                        <ul class="tags">
                            <li><a href="/programme" >Programme</a></li>
                        </ul>
                    </div>
                </div>
                <div class="address" data-lat="52.502125095601286" data-lng="13.34852278465847" id="urania">
                    <div class="location-name">Urania Berlin e.V.</div>
                    <div class="location-info">
                        <p>An der Urania 17, 10787 Berlin</p>
                    </div>
                </div>
                <div class="address" data-lat="52.50983517681396" data-lng="13.367378640407253" id="kunstgewerbemuseum">
                    <div class="location-name">Kunstgewerbemuseum</div>
                    <div class="location-info">
                        <p>Matthäikirchplatz, 10785 Berlin</p>
                    </div>
                </div>
                <div class="address" data-lat="52.51342807668728" data-lng="13.321860507950833" id="bhrox">
                    <div class="location-name">BHROX bauhaus reuse</div>
                    <div class="location-info">
                        <p>Ernst-Reuter-Platz, 10587 Berlin</p>
                    </div>
                </div>
                <div class="address" data-lat="52.50014379198297" data-lng="13.376557199999999" id="kuehlhaus-berlin">
                    <div class="location-name">Kühlhaus Berlin</div>
                    <div class="location-info">
                        <p>Luckenwalder Str. 3, 10963 Berlin</p>
                    </div>
                </div>
                <div class="address" data-lat="52.51884422874101" data-lng="13.322981455896103" id="salzufer-14–15">
                    <div class="location-name">Salzufer 14–15</div>
                    <div class="location-info">
                        <p>Salzufer 14–15, 10587 Berlin</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="map"></div>
    </main>

<script src="/assets/js/leaflet.js"></script>
<script src="/assets/js/locations.js"></script>


{{> en/partials/footer }}
